@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --cor-branco: rgba(255, 255, 255, 0.8);
    --cor-vermelho: rgba(234, 44, 44, 0.8);
    --bg-color-branco: rgba(244, 243, 242, 1);
    --bg-color-cinza:rgba(231, 231, 231, 1);
    --bg-color-preto-carvao:rgba(18, 18, 18,1);
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg-color-preto-carvao);
}
p{
    font-size: 1.4vw;
}

section{
    position: relative;
    padding-inline: 12%;
}

/* body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("assets/IMAGENS DO LAYOUT.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: brightness(.5) blur(3px);
    transform: scale(1.08);

    z-index: -1;
} */



main{
    background-color: var(--bg-color-branco);
    width: 70vw;
}

.capa {
    color: var(--cor-branco);
    overflow: hidden;

    width: 70vw;
    height: 100vh;

    position: relative;

    background-size: 100%;
    padding-inline: 0%;

}

.bg-capa {
    width: 70vw;
    height: 100vh;


    object-fit: cover;
    object-position: 50% 60%;
    
}

.logo img{
    width: 14vw;
    object-fit: cover;

    position: absolute;
    left: 52vw;
    top:4vh;

}

.conteudo{
    position: absolute;
    left: 8vw;
    bottom: 4vh;
}

.capa h1{
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 2.5rem;

    position: relative;
    width: fit-content;
}

.capa p,h1{
    text-transform: uppercase;
}

.capa .pTitulo{
    font-weight: 700;
}

.titulo::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 19vw;
    height: 1.4px;
    background: var(--cor-branco);
}

.titulo::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 10vw;
    height: 1.4px;
    background: var(--cor-branco);
}

.capa p{
    color: var(--cor-vermelho);
}

.capa span{
    color: var(--cor-branco);
}

.cApresentacao{
    display: flex;
    align-items: start;
    flex-direction: column;

    padding-top: 20vh;
}

.apresentacao img{
    width: 6.4rem;
    margin-block: 2rem;

    top: 2vh;
    left: calc(50% - 200px);

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    
}

.cApresentacao h2{
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.cApresentacao .nome_do_cliente{
    color: var(--cor-vermelho);
}

.cApresentacao p:nth-child(2){
    margin-bottom: 1.6rem;
    padding-left: 0px;
}

.stroke{
    font-weight: 700;
    position: relative;
    
}

.beneficios {
    padding-left: 3.4rem;
    font-size: 2.4rem;
}

.beneficios li::marker {
    font-size: 2.4rem;
    color: #000;
}

.no-dot{
    list-style-type: none;
}


.qddCinza{
    background-color: var(--bg-color-cinza);

}

.qddCinza{
    margin-top: 2.4rem;
    padding: 2.4rem;
    border-left: 0.5rem black solid;
}

.qddCinza p{
    padding-inline: .4rem;
}

h3{
    font-size: 2.4rem;
    color: #8D1B33;
    margin-top: 3rem;
}

.comercial-team{
    text-align: right;
    font-size: 1.6rem;
    margin-top: 2rem;
    
}

.apresentacao::after{
    content: "";
    position: absolute;
    width: 77%;
    height: 2px;
    background-color: rgba(128, 128, 128,0.1);
    margin-top: 4vh;
    left: 50%;
    transform: translateX(-50%);
}

.diferenciais{
    margin-top: 10vh;
    padding-inline: 0%;
}

.diferenciais .hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.diferenciais .hero-left{
    background-color: var(--bg-color-preto-carvao);
    color: var(--cor-branco);
    padding: 10%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left p{
    text-transform: uppercase;
}

.hero-left h2{
    font-size: 4vh;
}

.diferenciais .hero-right{
    background-color: var(--bg-color-cinza);
    display: flex;
    align-items: center;
    padding-left: 15%;
}

.hero-right p{
    font-size: 1vw;
}

.hero-right img{
    height: 6vh;
    margin-left: 2vw;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4vh;
}

.cards img{
    height: 8rem;
}
.cards h4{
    margin-top: 1vh;
    margin-bottom: 1.4vh;
    text-transform: uppercase;
}

.cards p{
    font-size: 0.9vw;
}
.card{
    padding: 3rem;
}

.card img{
    height: 12vh;
}

.card h4{
    margin-top: -1vh;
}
.card:not(:last-child){
     border-right:1px solid var(--bg-color-cinza);
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2vh;
    
}
.footer-grid p{
    font-size: 0.9vw;
    
}
.footer-left{
    background-color: var(--bg-color-preto-carvao);
    color: var(--cor-branco);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 10vh;
}

.conteiner-footer-left h2{
    font-size: 3vw;
}

.conteiner-footer-left h3{
    font-size: 1.8vw;
    text-transform: uppercase;
    color: var(--cor-branco);
    position: relative;

    padding-top: 5vh;
    
}

.conteiner-footer-left h3::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 5vw;
    height: 1px;
    background: var(--bg-color-cinza);

}

.conteiner-footer-left p{
    font-size: .9vw;
    font-weight: 100;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding: 6vw;
}

.footer-right h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vh;
    
}

.footer-right p{
    text-align: center;
}

.diferenciais::after{
    content: "";
    position: absolute;
    width: 77%;
    height: 2px;
    background-color: rgba(128, 128, 128,0.1);
    margin-top: 4vh;
    left: 50%;
    transform: translateX(-50%);
}
.orcamento p{
    font-size: 0.9vw;
}
.orcamento-head{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.orcamento-head h3{
    color: black;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9vw;
}

.orcamento-head h2{
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: -10px;
}

.orcamento-head img{
    height: 6vh;
}

.protudo-titulo,
.produto-descricao {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 2fr;
    align-items: center;
}
.produto-descricao{
    margin-top: 2vh;
    text-transform: uppercase;

    color: var(--cor-vermelho);
}

.protudo-titulo {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
}

.protudo-titulo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--bg-color-preto-carvao);
    margin-top: 4vh;
    left: 50%;
    transform: translateX(-50%);
}

.protudo-titulo p:first-child,
.produto-descricao p:first-child {
    text-align: left;
}

.caneta-modelo{
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 20vh;

    position: relative;

}

.caneta-modelo img{
    max-height: 20vh;
}

.caneta-modelo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--bg-color-preto-carvao);
    margin-top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}

.proposta{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proposta p{
    text-transform: uppercase;
    font-size: 1.4vw;
}

.proposta h2{
    background-color: var(--bg-color-preto-carvao);
    padding: 2vw;
    padding-inline: 3vw;
    color: white;

    text-transform: uppercase;
}

.bonus{
    margin-top: 8vh;
    font-size: 0,9vw;

    margin-left: 4vw;
}

.check-proposta{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--bg-color-preto-carvao);
    padding-block: 0.5vh;
    padding-inline: 1vw;

    color: white;

    margin-top: 8vh;
}

.check-text{
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
}

.check-text h3{
    color: white;
    text-transform: uppercase;
}

.check-text p{
    text-transform: uppercase;
    font-size: .6vw;
    font-weight: 100;
}

.check-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    text-transform: uppercase;
    font-weight: 100;

    margin-top: 5vh;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.confirmacao label{
    display:flex;
    align-items:center;
    gap:1rem;
    cursor:pointer;

    margin-bottom:2rem;
}

.confirmacao input{
    appearance:none;
    cursor: pointer;

    width:22px;
    height:22px;

    border:2px solid #D9D9D9;
    background:#FFF;
}

.confirmacao input:checked::before{
    content:"✓";
}

.assinatura-data{
    margin-top: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-transform: uppercase;

}

.asinatura{
    position: relative;
}
.assinatura::after{
    content:"";
    position: absolute;
    width: 24%;
    height: 2px;
    background-color: var(--bg-color-preto-carvao);
    margin-top: 3vh;
}


.orcamento-footer::before{
    content: "";
    position: absolute;
    width: 77%;
    height: 2px;
    background-color: rgba(128, 128, 128,0.1);
    margin-top: 4vh;
    left: 50%;
    transform: translateX(-50%);
}

footer::before{
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    background-color: var(--bg-color-preto-carvao);

    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 16vh;
}

footer{
    width: 70%;
    background-color: var(--bg-color-branco);
    height: 400px;

    padding-top: 20vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer img{
    height: 5vw;
}

footer p{
    font-size: 0.9vw;
}

/* responsividade desativada  */
/* @media (min-width: 768px) {
    .capa h1 {
        font-size: 4vw;
    }
    .capa p{
        font-size: 2vw;
    }
    .titulo::before {
        width: 25vw;
    }
    .titulo::after {
        width: 6vw;
    }
}

@media (min-width: 1024px) {
    body{
        width: 100vw;
        display: flex;
        align-items: center;

        position: relative;
        
    }

    body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("assets/paginaInicial.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: brightness(0.5) blur(3px);
    transform: scale(1.1);

    z-index: -1;
}
    .capa{
        background-position: center ;
        width: 80vw;
    }
    .logo img{
        left: 50vw;
    }
}

@media (min-width: 1440px) {
    .capa{
        background-position: center -600px;
    }

}

@media (min-width: 1600px) {
    .capa{
        background-position: center -900px;
    }
    .capa h1{
        font-size: 3vw;
    }
    .capa p{
        font-size: 1vw;
    }
        .titulo::before {
        width: 18vw;
    }
    .titulo::after {
        width: 5vw;
    }
} */